SERVER_HOST=localhost
SERVER_PORT=9090

ENV=dev

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TIMEOUT=100ms
REDIS_DB=0

CACHE_HOST=localhost
CACHE_PORT=6379
CACHE_TIMEOUT=100ms
CACHE_DB=1

PROMETHEUS_PORT=8080

DB_HOST=localhost
DB_MAX_IDLE_CONNS=25
DB_MAX_LIFETIME=5
DB_MAX_OPEN_CONNS=100
DB_NAME=timble
DB_PASSWORD=
DB_PORT=5432
DB_USERNAME=timble
